* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(212, 45%, 89%);
  --grayishblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--lightgray);
  color: var(--grayishblue);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.25;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 30px;
}
