section {
  padding: 1.5em;
  line-height: 1.5;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--marine-blue);
}

p {
  color: var(--cool-gray);
  margin: 0.3em 0;
}

.formGroup {
  display: flex;
  flex-direction: column;

  label {
    margin-top: 1em;
    color: var(--marine-blue);
    font-size: 0.8em;
  }

  input {
    padding: 0.5em 0.8em;
    border: 1px var(--light-gray) solid;
    border-radius: 0.25em;
    cursor: pointer;
  }
}
