section {
  line-height: 1.5;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--marine-blue);
}

p {
  color: var(--cool-gray);
  margin: 0.3em 0;
}

.formGroup {
  display: flex;
  flex-direction: column;

  .label {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    font-size: 0.8em;

    label {
      color: var(--marine-blue);
    }

    .error {
      font-weight: 700;
      color: #cf4e62;
    }
  }

  input {
    padding: 0.5em 0.8em;
    border: 1px var(--light-gray) solid;
    border-radius: 0.25em;
    cursor: pointer;
    font-weight: 500;
    color: var(--marine-blue);
    background-color: var(--white) !important;

    &:focus {
      /* This color is not in the style guide */
      border: 1px #544c95 solid;
      outline: none;
    }

    &.ng-touched.ng-invalid {
      /* This color is not in the style guide */
      border: 1px solid #cf4e62;
    }

    /* Avoid recoloring of autofilled fields */
    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
    }
  }
}

@media only screen and (min-width: 376px) {
  section {
    font-size: 1.3em;
  }

  .formGroup {
    margin-top: 1em;
    .label {
      margin-top: 1.7em;
    }
    input {
      padding: 0.9em 0.8em;
      border-radius: 0.5em;
    }
  }
}
