.mform__footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 4.4rem;
  background-color: var(--white);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

.btn {
  margin: 0em 1em;
  padding: 0.75em 1.25em;
  border-radius: 0.25em;
  border: none;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.btn:hover {
  filter: brightness(150%);
}

.btn__primary {
  color: var(--magnolia);
  background-color: var(--marine-blue);
}

.btn__secondary {
  color: var(--cool-gray);
  background-color: var(--white);
  border: none;
}

.btn__secondary:hover {
  filter: brightness(100%);
  color: var(--marine-blue);
  font-weight: 700;
}

.btn__important {
  color: var(--magnolia);
  background-color: var(--purplish-blue);
}

@media only screen and (min-width: 376px) {
  .btn {
    border-radius: 0.5em;
  }

  .mform__footer {
    position: unset;
    bottom: unset;
  }
}
