section {
  padding: 1.5em;
  line-height: 1.5;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--marine-blue);
}

p {
  color: var(--cool-gray);
  margin: 0.3em 0;
}

.plan {
  display: grid;
  grid-template-columns: 4.5em auto;
  grid-template-areas:
    "icon title"
    "icon cost"
    "icon discount";
  border: 1px solid var(--light-gray);
  border-radius: 0.5em;
  margin: 1em 0;
  padding: 1em 0;
  line-height: 1;
  cursor: pointer;

  &:hover {
    border: 1px #544c95 solid;
  }
  .plan__icon {
    grid-area: icon;
    margin: 0 1em;
  }
  .plan__title {
    grid-area: title;
    margin: 0 0 0.5em 0;
    font-weight: 700;
    color: var(--marine-blue);
  }
  .plan__cost {
    grid-area: cost;
    margin: 0 0 0.5em 0;
    color: var(--cool-gray);
  }
  .plan__discount {
    grid-area: discount;
    font-weight: 500;
    font-size: 0.8em;
    color: var(--marine-blue);
  }
}

.plan--active {
  /* This color is not in the style guide */
  border: 1px #544c95 solid;
  background-color: var(--magnolia);
}

.period {
  display: block;
  background-color: var(--magnolia);
  text-align: center;
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.8em;
  line-height: 1;

  .period__label {
    font-weight: 700;
    font-size: 0.9em;
    color: var(--cool-gray);
    margin: 0 1em;
  }

  .period__label--active {
    color: var(--marine-blue);
  }
}

/* Toogle switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  --width: 2.3em;
  --height: 1.25em;
  width: var(--width);
  height: var(--height);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--marine-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--height) - 8px);
  width: calc(var(--height) - 8px);
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--marine-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc(var(--width) - var(--height)));
  -ms-transform: translateX(calc(var(--width) - var(--height)));
  transform: translateX(calc(var(--width) - var(--height)));
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--height);
}

.slider.round:before {
  border-radius: 50%;
}
