.mform__header {
  margin-top: 1.5rem;
  color: var(--white);
  text-align: center;

  ul {
    li {
      display: inline-block;
      list-style-type: none;
      margin: 0.5em;
      padding: 0.3em;
      width: 2em;
      height: 2em;
      border: 1px solid var(--white);
      border-radius: 50%;
      font-weight: 500;
      text-align: center;
    }
  }
}
