section {
  padding: 1.5em;
  line-height: 1.5;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--marine-blue);
}

p {
  color: var(--cool-gray);
  margin: 0.3em 0;
}

.addon {
  display: grid;
  grid-template-columns: 3.5em auto 4.5em;
  grid-template-areas:
    "checkmark title cost"
    "checkmark description cost";
  border: 1px solid var(--light-gray);
  border-radius: 0.5em;
  margin: 1em 0;
  padding: 1em 0;
  line-height: 1;
  font-size: 0.8em;
  cursor: pointer;

  &:hover {
    border: 1px #544c95 solid;
  }

  .addon__title {
    grid-area: title;
    margin: 0 0 0.5em 0;
    font-weight: 700;
    color: var(--marine-blue);
  }

  .addon__description {
    grid-area: description;
    font-size: 0.95em;
    color: var(--cool-gray);
  }

  .addon__cost {
    display: inline-grid;
    align-items: center;
    grid-area: cost;
    font-weight: 500;
    font-size: 1em;
    /* This color is not in the style guide */
    color: #544c95;
  }

  /* Create a custom checkbox */
  .addon__checkmark {
    grid-area: checkmark;
    position: relative;
    top: 0.4em;
    left: 0.8em;
    height: 1.25em;
    width: 1.25em;
    border: 1px solid var(--light-gray);
    border-radius: 0.25em;
  }

  /* When the checkbox is checked, add a blue background */
  input:checked ~ .addon__checkmark {
    background-color: var(--purplish-blue);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .addon__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  input:checked ~ .addon__checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .addon__checkmark:after {
    left: 6px;
    top: 4px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.addon--active {
  border: 1px #544c95 solid;
  background-color: var(--magnolia);
}

/* Custom Checkbox */
/* Hide the browser's default checkbox */
.addon input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
