<section>
  <h1>Pick add-ons</h1>
  <p>Add-ons help enhance your gaming experience.</p>

  <label [ngClass]="{ addon: true, 'addon--active': addonOnline }">
    <input
      type="checkbox"
      [checked]="addonOnline ? 'checked' : ''"
      (click)="toggleAddon(1)"
    />
    <span class="addon__checkmark"></span>
    <span class="addon__title">Online Service</span>
    <span class="addon__description">Access to multiplayer games</span>
    <span class="addon__cost" *ngIf="paymentPeriod === PaymentPeriodEnum.MONTH"
      >+$1/mo</span
    >
    <span class="addon__cost" *ngIf="paymentPeriod === PaymentPeriodEnum.YEAR"
      >+$10/yr</span
    >
  </label>

  <label [ngClass]="{ addon: true, 'addon--active': addonExtraStorage }">
    <input
      type="checkbox"
      [checked]="addonExtraStorage ? 'checked' : ''"
      (click)="toggleAddon(2)"
    />
    <span class="addon__checkmark"></span>
    <span class="addon__title">Larger storage</span>
    <span class="addon__description">Extra 1TB of cloud save</span>
    <span class="addon__cost" *ngIf="paymentPeriod === PaymentPeriodEnum.MONTH"
      >+$2/mo</span
    >
    <span class="addon__cost" *ngIf="paymentPeriod === PaymentPeriodEnum.YEAR"
      >+$20/yr</span
    >
  </label>

  <label [ngClass]="{ addon: true, 'addon--active': addonCustomProfile }">
    <input
      type="checkbox"
      [checked]="addonCustomProfile ? 'checked' : ''"
      (click)="toggleAddon(3)"
    />
    <span class="addon__checkmark"></span>
    <span class="addon__title">Customizable profile</span>
    <span class="addon__description">Custom theme on your profile</span>
    <span class="addon__cost" *ngIf="paymentPeriod === PaymentPeriodEnum.MONTH"
      >+$2/mo</span
    >
    <span class="addon__cost" *ngIf="paymentPeriod === PaymentPeriodEnum.YEAR"
      >+$20/yr</span
    >
  </label>
</section>
