.mform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url("/assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
}
