.mform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url("/assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
}

@media only screen and (min-width: 376px) {
  .mform {
    background-image: none;
    background-color: var(--white);
    border-radius: 1em;

    max-width: 940px;
    width: 940px;
    min-height: unset;
    display: grid;
    grid-template-areas:
      "header main"
      "header footer";
    grid-template-columns: 316px 1fr;
    grid-template-rows: 1fr 100px;
    justify-content: start;
  }

  app-header {
    grid-area: header;
  }

  app-footer {
    grid-area: footer;
    margin: 0 3em 0 2em;
  }

  app-form-wrapper {
    grid-area: main;
    margin: 0 3em 0 2em;
  }
}
